.container {
  padding: 3%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.container .header_heading {
  font-weight: 700;
  font-family: "Ubuntu";
  line-height: 5px;
}
